<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark border">
    <div class="container-fluid">
      <div class="navbar-collapse ">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/detail" routerLinkActive="active">Detail</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin">
            <a class="nav-link" href="#">Create Product</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin">
            <a class="nav-link" href="#">Product List</a>
          </li>
        </ul>
        <app-search></app-search>
      </div>
    </div>
  </nav>
</header>