<div class="d-flex flex-row">
  <div class="form-control-wrapper me-5">
      <input
        [formControl]="searchControl"
        [class.is-invalid]="searchControl.invalid && searchControl.touched"
        class="form-control me-5"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <div *ngIf="searchControl.invalid && searchControl.touched">
          <small *ngIf="searchControl?.errors?.['minlength']" class="text-danger">At least 3 characters required</small>
          <small *ngIf="searchControl?.errors?.['alphabetsRequired']" class="text-danger">Only alphabets are allowed</small>
      </div>
  </div>
</div>
